.content-wrapper {
	margin-left: 240px;
	margin-right: 0px;
	margin-top: 0px;
	min-height: 100%;
	padding: 0px;
}

.activity-wrapper {
	margin-left: 260px;
	margin-right: 10px;
	margin-top: 10px;
	min-height: 100%;
	padding: 0px;
}
