<!-- Task sidebar -->
<div id="taskbar-wrapper">
    <ul class="taskbar-nav">
        <li ng-repeat="task in demoTasks">
            <a ng-click="task.active = !task.active">
                <span ng-if="task.active">
                    <span class="glyphicon glyphicon-ok-circle"></span>
                </span>
                <span ng-if="!task.active">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </span>
                <span >
                    {{ task.name }}
                </span>
            </a>
        </li>
    </ul>
</div>

<!-- Task contents -->
<div style="padding-left: 250px">
    <div class="container">
        <h1>Vocabulary</h1>
        
        <hr/>
        
        <textarea class="form-control" id="vocabularyInput"></textarea>
    </div>
</div>
